<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    {% load staticfiles %}
     <link rel="stylesheet" href="{% static 'mainApp/static/style.css' %}">
</head>
<body>
    {% block content %}
    <div class="main-flex-container">
        <div class="menu-block">
            <img class='menu-back' src="{% static 'mainApp/static/images/white_block.jpg' %}" alt=""/>
        </div>
    </div>
    {% endblock %}
</body>
</html>